/* $Id$ */

.icon24 {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 28px;
line-height: 24px;
vertical-align: middle;
}
.icon-build-request {cursor:pointer;}
.icon-build-history {cursor:pointer;}
.icon-build-artifacts {cursor:pointer;}
.icon-switch-description-visibility {cursor:pointer;}

.result.failure {color: red;}
.result.success {color: blue;}
.result {color: #999;}

.latest-build {width: 28em;}

.contextual-icon24 {
float: right;
white-space: nowrap;
margin-top: 1px;
padding-left: 10px;
}

.job-name {
white-space: nowrap;
}

.number {
text-align: right;
}

#build-history,
#build-artifacts {
position: absolute;
background-color: white;
border-top: 1px solid #A9A9A9;
border-left: 1px solid #A9A9A9;
border-right: 2px solid #A9A9A9;
border-bottom: 2px solid #A9A9A9;
padding: 5px 10px 5px 10px ;
}

.build-entry {margin:3px 0px 3px 0px;}

table.job-list {border: 1px solid #e4e4e4;  border-collapse: collapse; margin-bottom: 4px;}
table.job-list th {background-color: #EEEEEE; padding: 4px; white-space: nowrap;}
table.job-list td {vertical-align: top;}
table.job-list td.build_rotate {text-align: center;}
input.build_rotator_days_to_keep, input.build_rotator_num_to_keep {text-align: right;}