
.icon-blue { background-image: url(../images/blue.png); }
.icon-red { background-image: url(../images/red.png); }
.icon-grey { background-image: url(../images/grey.png); }
.icon-yellow { background-image: url(../images/yellow.png); }
.icon-disabled { background-image: url(../images/disabled.png); }

.icon-blue_anime { background-image: url(../images/blue_anime.png); }
.icon-red_anime { background-image: url(../images/red_anime.png); }
.icon-grey_anime { background-image: url(../images/grey_anime.png); }
.icon-yellow_anime { background-image: url(../images/yellow_anime.png); }

.icon-build-history { cursor:pointer;}

.result.failure {color:red;}
.result.success {color:blue;}
.result {color:#999;}

.latest-build { width:28em; }

#build-history { 
    position:absolute;
    background-color:white;
    border-top:1px solid #A9A9A9;border-left:1px solid #A9A9A9;border-right:2px solid #A9A9A9;border-bottom:2px solid #A9A9A9;
    padding: 5px 10px 5px 10px ;
}

.build-entry { margin:3px 0px 3px 0px; }